config global
	option enable '0'
	option def_tcp_stun 'stunserver.stunprotocol.org'
	option def_udp_stun 'stunserver.stunprotocol.org'
	option def_http_server 'example.com'
	option def_interval '10'

config natmap
	option enable '0'
	option interval ''
	option stun_server ''
	option http_server 'www.baidu.com'
	option udp_mode '0'
	option family ''
	option bind_ifname ''
	option port '8080'
	option forward_mode '0'
	option forward_method 'via'
	option natloopback '1'
	option forward_target ''
	option forward_port ''
	option notify_script ''

